<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.courierpad.in">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Courierpad"
        android:usesCleartextTraffic="true">
        <activity android:name=".MyOrders"></activity>
        <activity android:name=".Add_Agent" />
        <activity android:name=".Agent_Detail" />
        <activity android:name=".View_Agents" />
        <activity android:name=".Order_detail" />
        <activity android:name=".View_Orders" />
        <activity android:name=".Add_Order" />
        <activity
            android:name=".Admin_Home"
            android:theme="@style/Theme.CourierpadNoActionBar">

        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>